<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php" colors="false" >
        <testsuites>
        <testsuite name="Tests de Luchronia">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../web</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../../build/coverage" title="Name of Project"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../../build/logs/clover.xml"/>
        <log type="junit" target="../../build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>